*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}

body{
    color: #fff;
    margin: 0;
    background-color: rgb(20, 19, 19);
}

header{
    background-color: #000000;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid #fff;
}

.alumno{
    background-color: #fff;
    color: #000000;
    margin: 6px;
    border-radius: 6px;
    width: 200px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    padding: 6px;
}

form label{
    display: flex;
    align-items: center;
}